<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>欢迎访问云鸠信息网站, <%= @user.name %></h1>
    <p>
      你已经成功注册了云鸠信息网站,
      你的用户名是: <%= @user.login %>.<br>
    </p>
    <p>
      访问链接访问云鸠信息网站: <%= @url %>.
    </p>
    <p>感谢使用，希望使用愉快!</p>
  </body>
</html>