    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><%= link_to '主页', root_path %></li>
          <li>客户 </li>
        </ol>
        <h2>List</h2>
        <p id="notice"><%= notice %></p>
      </div>


    </section><!-- End Breadcrumbs -->